/*============================================================================*/
/*= rmn
/*============================================================================*/
/*----------------------------------------------*/
/*= base
/*----------------------------------------------*/
#rmn {
	display: block;
	box-sizing: content-box;
	margin: 0 auto;
	height: 50px;
	width: 170px;
}
.rmn-char {
	float: left;
	height: 100%;
	margin-right: 5.88235294%;
	position: relative;
	width: 29.4117647%;
}
.rmn-char:last-child {
	margin-right: 0;
}
.rmn-char div {
	background: #777;
	position: absolute;
	transition: 1s;
}
#rmn:hover .rmn-char div {
	background: #000;
}
#rmn.inverse .rmn-char div {
	background: #888;
}
#rmn.inverse:hover .rmn-char div {
	background: #fff;
}
/*----------------------------------------------*/
/*= R
/*----------------------------------------------*/
#rmn-r-1 {
	height: 20%;
	width: 100%;
}
#rmn-r-2 {
	left: 0;
	top: 0;
	height: 100%;
	width: 20%;
}
#rmn-r-3 {
	right: 0;
	top: 0;
	height: 40%;
	width: 20%;
}
/*----------------------------------------------*/
/*= M
/*----------------------------------------------*/
#rmn-m-1 {
	top: 0px;
	height: 20%;
	width: 100%;	
}
#rmn-m-2,
#rmn-m-3,
#rmn-m-4 {
	top: 0;
	height: 100%;
	width: 20%;	
}
#rmn-m-2 {
	left: 0;
}
#rmn-m-3 {
	left: 40%;
}
#rmn-m-4 {
	right: 0;
}
/*----------------------------------------------*/
/*= N
/*----------------------------------------------*/
#rmn-n-1 {
	top: 0;
	height: 20%;
	width: 100%;	
}
#rmn-n-2,
#rmn-n-3 {
	top: 0;
	height: 100%;
	width: 20%;	
}
#rmn-n-2 {
	left: 0;
}
#rmn-n-3 {
	right: 0;
}