/*----------------------------------------------------------------------------*/
/* Mark-up
/*----------------------------------------------------------------------------*/
html, body { 
	height: 100%;
	margin:0; 
	padding: 0;
}
body {
	/* background: url('../img/bg.png'); */
	background: #fff;
	padding-top: 50px;
}
/*----------------------------------------------------------------------------*/
/* Modifiers
/*----------------------------------------------------------------------------*/
.centered {
	text-align: center;
}
/*----------------------------------------------------------------------------*/
/* Components
/*----------------------------------------------------------------------------*/
.api {
	margin-top: 20px;
}
.api dt code {
	font-size: 1.2em;
}
.api dd {
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.api dd:last-of-type {
	border-bottom: none;
}
.content-section {
	border-bottom: 1px dashed #ccc;
	padding: 40px 0px;
}
#home {
	padding-top: 20px;
}
#scraped-content {
	margin-top: 20px;
	overflow: hidden;
}
#scraped-content-image {
	max-width: 110px
}
#scraped-content-image-wrap {
	float: left;
	height: 110px;
	margin: 0;
	margin-right: 15px;
	overflow: hidden;
	width: 110px;
}
.social {
	background: url('../img/bg.png');
	text-align: center;
}
.social-facebook {
	position: relative;
	top: -5px;
}
.social-title {
	display: inline-block;
	margin: 0;
	margin-right: 20px;
}
#variables-content {
	margin-top: 20px;
}
/*----------------------------------------------------------------------------*/
/* Media Query
/*----------------------------------------------------------------------------*/
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}